*{

}
.page{
  border: 2 px solid;
  min-height: 100vh;
  display: flex;

}

aside{

	background: lightgreen;
	flex: 1;

}

main{
	background: lightskyblue;
	flex: 2;
	display: flex;
	flex-direction: column;

}

main section:nth-child(1){
	background: lightgoldenrodyellow;
    flex: 2;
}

main section:nth-child(2){
	background: lightsalmon;
	flex: 0 120px;
}

main section:nth-child(3){
	background: lightcyan
	flex: 1;

}

